@font-face {
    font-family: 'myFont01';
    src: url(../Fonts/Roboto-Light.ttf);
    font-weight: bold
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont01, Arial, Helvetica, sans-serif;
    font-size: calc(0.4vw + 8px);
    letter-spacing: 0.15ch;
    color: rgb(176, 176, 176);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://i.pinimg.com/564x/fb/91/cc/fb91cc097dbc46329fcc1d1d5f83c9ce.jpg) no-repeat center center;
    background-size: cover;
}

#container {
    margin-bottom: 25vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 40ch;
    height: 4ch;
    padding: 20px 10px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(103, 155, 228, 0.9);
    color: rgb(209, 138, 228);
    text-align: center;
}

input:focus {
    border: 1px solid rgba(202, 166, 166, 0.669);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
    outline: none;
    color: rgb(255, 255, 255);
}

input::placeholder {
    color: rgb(176, 176, 176);
    text-transform: uppercase;
}

label {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(178, 166, 0);
}

a:hover {
    cursor: pointer;
    color: white;
}

input[type=submit] {
    width: fit-content;
    background-color: rgb(215, 73, 223);
    color: rgb(37, 37, 37);
    font-weight: bold;
    padding: 7px 15px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: transparent;
    color: rgb(155, 34, 177);
    border: 1px solid rgba(81, 125, 214, 0.847);
}

h1 {
    font-size: calc(1vw + 15px);
    text-align: center;
    text-transform: uppercase;
    color: rgb(119, 38, 144);
    margin-bottom: 20px;
}
